<nz-layout class="layout">
  <!--头部-->
  <nz-header>
    <!--<div class="logo"></div>-->
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>首页</li>
      <li nz-menu-item>博客</li>
      <li nz-menu-item>分类</li>
    </ul>
  </nz-header>
  <!--头部结束-->
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>所有文章</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-layout style="padding:24px 0; background: #fff">
      <nz-sider [nzWidth]="200" style="background:#fff">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-submenu>
            <span title><i nz-icon type="book" theme="outline"></i>最新文章</span>
            <ul>
              <li nz-menu-item>option1</li>
              <li nz-menu-item>option2</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i nz-icon type="heart" theme="outline"></i>归档</span>
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i nz-icon type="smile" theme="outline"></i>分类</span>
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content style="padding: 0 24px; min-height: 280px;">
        <app-article></app-article>
      </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center;">黄凯 ©2019 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>
